#contents {
  max-width: 750px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: aliceblue;
  height: 560px;
}

#contents #title {
  border-radius: 10px 10px 0 0;
  background-color: rgb(124, 196, 255);
  height: 70px;
}

#contents #input-box {
  margin-top: 10px;
  padding: 10px;
}

#contents #input-box table {
  line-height: 2em;
}

#contents #input-box .key {
  position: relative;
  left: 90px;
  color: rgb(46, 164, 211);
  font-weight: bold;
  padding: 10px;
  padding-right: 40px;
  font-size: 20px;
}

#contents #input-box .value {
  vertical-align: middle;
}

#contents #input-box .value input {
  outline: none;
  border: none;
  margin-left: 90px;
  padding: 10px;
  width: 450px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
}

#contents #input-box .value #photo-upload {
  outline: none;
  border: none;
  margin-left: 90px;
  background-color: white;
  text-align: center;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  max-width: 100px;
  cursor: pointer;
}

#contents #input-box .value #photo-upload:hover {
  background: rgb(77, 77, 77);
  color: #fff;
}

#contents #input-box .value #book-photo {
  display: none;
}
