#contents {
  max-width: 750px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: aliceblue;
  height: 560px;
}

#contents #title {
  border-radius: 10px 10px 0 0;
  background-color: rgb(124, 196, 255);
  height: 70px;
}

#contents #input-box {
  margin-top: 10px;
  padding: 10px;
}

#contents #input-box table {
  line-height: 2em;
}

#contents #input-box .key {
  color: rgb(46, 164, 211);
  font-weight: bold;
  padding: 10px;
  font-size: 20px;
}

#contents #input-box .value {
  vertical-align: middle;
}

#contents #input-box .value input {
  outline: none;
  border: none;
  margin-left: 40px;
  padding: 10px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
}

#contents #input-box .value textarea {
  margin-top: 10px;
  font-size: 17px;
  outline: none;
  border: none;
  height: 70px;
  width: 270px;
  margin-left: 40px;
  resize: none;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
}

#contents #input-box .value #photo-upload {
  margin-left: 40px;
  width: 150px;
  height: 30px;
  background: #fff;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  align-items: center;
  justify-content: center;
  &:hover {
    background: rgb(77, 77, 77);
    color: #fff;
  }
}

#contents #input-box .value #file {
  display: none;
}
