#error {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 150px;
  background-color: rgb(145, 145, 145);
  text-align: center;
  padding: 150px;
  padding-bottom: 100px;
}

#error h2 {
  color: rgb(92, 0, 0);
  position: relative;
  font-size: 31.5px;
  bottom: 70px;
}

#error p {
  color: rgb(238, 238, 238);
  font-size: 25px;
}

#error .error-page-button {
  position: relative;
  top: 40px;
}
