@import url("./all.css");

#nav-bar {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  background-color: rgb(182, 162, 133);
  padding: 10px;
}

#nav-bar form {
  display: flex;
}

#nav-bar #search {
  align-items: center;
}

#nav-bar #search .input-box {
  width: 350px;
  height: 25px;
  border-style: none;
  outline: none;
}

#nav-bar #add {
  right: 50px;
}

#nav-bar .input-button {
  margin-left: 10px;
  width: 30px;
  height: 25px;
  border-style: none;
  cursor: pointer;
  text-align: center;
  background-color: rgb(151, 139, 101);
}
